<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ZTraka_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ZTraka_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ZTraka_App.Properties.Settings.ztATdbConnectionString"
      connectionString="Data Source=TARAK-PC\SQLEXPRESS;Initial Catalog=ztATdb;Persist Security Info=True;User ID=ztadmin;Password=ztSQL"
      providerName="System.Data.SqlClient" />
    <add name="ZTraka_App.Properties.Settings.ztATdbLocalConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\trivedi\AppData\Roaming\ZigTraka\ztATdbLocal.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>   
  <userSettings>
    <ZTraka_App.Properties.Settings>
      <setting name="userpassW" serializeAs="String">
        <value />
      </setting>
      <setting name="userID" serializeAs="String">
        <value />
      </setting>
      <setting name="usernameD" serializeAs="String">
        <value />
      </setting>
      <setting name="userrole" serializeAs="String">
        <value />
      </setting>
      <setting name="userroleid" serializeAs="String">
        <value />
      </setting>
      <setting name="refDate" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="installedDate" serializeAs="String">
        <value>2000-01-01</value>
      </setting>
      <setting name="isProductActivated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="globalRemainingDays" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="keysDB" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>This string collection contains two set of keys for each license.</string>
          </ArrayOfString>
        </value>
      </setting>
    </ZTraka_App.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ZTraka_App.Properties.Settings>
      <setting name="SecurityKey" serializeAs="String">
        <value>ZTsecure</value>
      </setting>
    </ZTraka_App.Properties.Settings>
  </applicationSettings>
</configuration>